/* Source: https://www.bootdey.com/snippets/view/profile-edit-data-and-skills */
.myCustom_card {
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%);
}

.input-field {
  width: 90%;
  padding: 6px 8px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.input-field:focus {
  border: 3px solid #555;
}

.form-group {
  padding-top: 4px;
  padding-bottom: 4px;
}
